<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.tenant }} product</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>{{ request.tenant }}Product</h1>
    <ul>
        {% for product in product %}
        <li>{{ product.name }}</li>
        {% endfor %}
    </ul>

    <form method="POST" action="/create_employee">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Add new employee" />
        <button>Submit</button>
    </form>
</body>
</html>